.subtitle {
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    margin-top: 90px;
    margin-bottom: 80px;
    -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;

    h2{
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
    }
}

.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 90px;

    .carousel-lista {
        display: flex;
        overflow-y:auto;

        img {
            width: 100%;
            object-fit: cover;
            margin-right: 12px;
        }
            
        .card-categoria {

            img {
                height: 330px;
                width: 370px;
                border-top-right-radius: 15px;
                border-top-left-radius: 15px;
                padding-bottom: 2px $cardColor;
            }

            .cuerpo-card-categoria {

                .parraf-carousel {
                    font-size: 20px;
                    font-weight: 600;
                    text-align: center;
                    background-color: $cardColor;
                    width: 370px;
                    border-bottom-right-radius: 15px;
                    border-bottom-left-radius: 15px;
                    padding: 5px;

                    a {
                        color: $secondaryColor;
                    }                
                }
            }
        }
    }    
}

@media screen and (max-width:480px){
    .carousel {
        margin-left: 15px;
        margin-right: 0px;

        .carousel-lista {
            
            img {
                margin-right: 15px; 
            }
    
            .card-categoria {

                img {
                    width: 280px; 
                }

                .cuerpo-card-categoria {
                    
                    .parraf-carousel {
                        width: 280px; 
                    }
                }
            }
        }
    }
}

@-webkit-keyframes text-focus-in{0%{-webkit-filter:blur(12px);filter:blur(12px);opacity:0}100%{-webkit-filter:blur(0);filter:blur(0);opacity:1}}
@keyframes text-focus-in{0%{-webkit-filter:blur(12px);filter:blur(12px);opacity:0}100%{-webkit-filter:blur(0);filter:blur(0);opacity:1}}