.contenedor-galeria {
    display: flex;
    align-items: center;
    margin-bottom: 100px;
    margin-top: 20px;

    .galeria-categorias {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    
        .card {
            border-radius: 8px;
            border: none;
            width: 285px;
            height: 200px;
            flex-shrink: 0;
            margin-top: 30px;
            margin-right: 15px;
            margin-left: 15px;

            .tipos {

                h3 {
                    font-size: 17px;
                    font-weight: 600;
                    text-align: center;
                    margin-top: 140px;
                
                    a {
                        border-radius: 10px;
                        border: 2px solid $btnColor;
                        background: $back2Color;
                        color: $mainColor;
                        padding: 5px 70px 5px 70px;      

                        &:hover {
                            color:$secondaryColor;
                            background-color: $btnColor;
                            transition: 0.5s;
                        }    
                    }
                }
            }
        }
    }
}