.main-crear-cuenta {
    text-align: -webkit-center;
    
    .crear-cuenta {
        background-image:url(../img/hero2.jpg);
        padding-top: 10%;
        background-position: center; 
        background-repeat: no-repeat;
        background-size: cover;
        padding-bottom: 5%;

        .main-container {
            background-color: $backColor;
            width: 420px;
            border-radius: 20px;     
            -webkit-animation:shadow-drop-center .4s cubic-bezier(.25,.46,.45,.94) both;
            animation:shadow-drop-center .4s cubic-bezier(.25,.46,.45,.94) both;
        
            .form-container {
                width: 280px;

                h1 {  
                    font-size: 25px;
                    font-weight:bold;
                    padding: 60px 0 15px 0;
                    width: 280px;
                }
                        
                #form-crear-cuenta {
                    
                    label {
                        text-align: left;
                        font-size: 17px;
                        font-weight: medium;
                        width: 277px;
                    }
                    
                    input {
                        text-align: left;
                        margin-top: 10px; 
                        margin-bottom: 15px;
                    }
                }               
            
                .texto {
                    text-align: left;
                    margin-bottom: 35px;
                    width: 280px;
                    font-size: 12px;
                }

                .boton-confirm {
                    width: 277px;
                    height: 46px;
                    border-radius: 10px;
                    border: 2px;
                    background-color: $btnColor;
                    font-size: 20px;
                    font-weight: 700;

                    a {
                        color: $secondaryColor;
                    }
                }

                .boton-cancelar {
                    width: 277px;
                    height: 46px;
                    border-radius: 10px;
                    border: none;
                    background-color: none;
                    font-size: 20px;
                    margin-top: 5px;
                    font-weight: medium;
                    margin-bottom: 60px;
                }    
            }
        }
    }
}

@-webkit-keyframes shadow-drop-center{0%{-webkit-box-shadow:0 0 0 0 transparent;box-shadow:0 0 0 0 transparent}100%{-webkit-box-shadow:0 0 20px 0 rgba(0,0,0,.35);box-shadow:0 0 20px 0 rgba(0,0,0,.35)}}
@keyframes shadow-drop-center{0%{-webkit-box-shadow:0 0 0 0 transparent;box-shadow:0 0 0 0 transparent}100%{-webkit-box-shadow:0 0 20px 0 rgba(0,0,0,.35);box-shadow:0 0 20px 0 rgba(0,0,0,.35)}}

        


