.main-inicio-sesion {
    text-align: -webkit-center;

    .inicio-sesion {
        background-image: url(../img/hero.jpg);
        padding-top: 10%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover; 
        padding-bottom: 5%;

        .main-container { 
            background-color: $backColor;
            width: 420px;
            border-radius: 20px;  
            -webkit-animation:shadow-drop-center .4s cubic-bezier(.25,.46,.45,.94) both;
            animation:shadow-drop-center .4s cubic-bezier(.25,.46,.45,.94) both;
        
            .form-container {
                width: 280px;

                h1 {
                    font-size: 25px;
                    font-weight:bold;
                    padding: 60px 0 30px 0;
                }

                #iniciar_sesion {

                    #username {
                        text-align: left;
                        color: $userColor;
                        font-size: 17px;
                        font-weight: medium;
                        width: 277px;
                        height: 46px;
                        border-radius: 10px;
                        border: 2px;
                        border-style: solid;
                        border-color: $navselectionColor;
                    }

                    #user-password {
                        text-align: left;
                        color: $userColor;
                        font-size: 17px;
                        font-weight: medium;
                        width: 277px;
                        height: 46px;
                        border-radius: 10px;
                        border: 2px;
                        border-style: solid;
                        border-color: $navselectionColor;
                    }

                    .olvidaste-la-contraseña {
                        text-align: left;
                        padding: 8px 0 25px 0;
                        font-weight: 500;
                        font-size: 17px;
                    } 
                    
                    .boton-confirm {
                        width: 277px;
                        height: 46px;
                        border-radius: 10px;
                        border: 2px;
                        background-color: $btnColor;
                        font-size: 20px;
                        font-weight: 700;

                        a {
                            color: $secondaryColor;
                        }
                    }

                    .link-crear-cuenta {
                        text-align: right;
                        padding-top: 25px;
                        padding-bottom: 65px;
                        font-weight: 700;
                        font-size: 17px;                        
                    }
                }
            }
        }
    }
}

@-webkit-keyframes shadow-drop-center{0%{-webkit-box-shadow:0 0 0 0 transparent;box-shadow:0 0 0 0 transparent}100%{-webkit-box-shadow:0 0 20px 0 rgba(0,0,0,.35);box-shadow:0 0 20px 0 rgba(0,0,0,.35)}}
@keyframes shadow-drop-center{0%{-webkit-box-shadow:0 0 0 0 transparent;box-shadow:0 0 0 0 transparent}100%{-webkit-box-shadow:0 0 20px 0 rgba(0,0,0,.35);box-shadow:0 0 20px 0 rgba(0,0,0,.35)}}
                    

