@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

$fontMontserrat:'Montserrat', sans-serif;

$mainColor: black;
$secondaryColor: white;
$navselectionColor: #9eb33e;
$bannerColor:#F8F1D5;
$backColor: #F9FAFA;
$btnColor: #1B5016;
$back2Color: rgba(255, 255, 255, 0.80);
$cardColor: #536A73;
$bordercardColor: #d1d3d9;
$footerColor: #F6E8D3;
$userColor: #817B77;