
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

body{
    align-items: center;
    min-height: 100vh;
}

ul{
    list-style:none;
}

/* INICIO ESTILOS DEL HEADER */

.header{
    background-color: #F9FAFA;
    height: 100px;
    position:absolute;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
}

.navbar-toggler {
    border: var(--bs-border-width) solid #9eb33e;
}

.nav{
    display: flex;
    justify-content: space-between;
}

.nav-link {
    display: flex;
    padding: 0 25px;
    text-decoration: none;
    color: black;
}

.nav-menu{
    display: flex;
    margin-right: 15px;
    list-style: none;
}

.nav-menu-item{
    font-size: 20px;
    font-weight: bold;
    padding: 40px 5px;
    text-transform:none;
    width:max-content;
}

.nav-menu-link:hover {
    color: #9eb33e;
}

.btn{
    font-weight: bold;
    font-size: 20px;
    border: none;
    padding: 25px;
    background-color:transparent;
}

.btn a{
    border: 2px solid #1B5016;
    border-radius: 10px;
    padding: 10px 15px;
    text-decoration: none;
    color: black;
    background-color: white;
}

.btn a:hover {
    color: white;
    background-color: #9eb33e;
    border: 2.5px solid #9eb33e;
}

.btn-seleccionado {
    font-weight: bold;
    font-size: 20px;
    border: none;
    padding: 25px;
    background-color: transparent;
}

.btn-seleccionado a {
    border-radius: 10px;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
    background-color: #9eb33e;
    font-weight: bold;
    font-size: 20px;
    border: 2.5px solid #9eb33e;
}

/* FIN ESTILOS DEL HEADER */

/* INICIO PAGINA INDEX */

.container{
    position: relative;
    display: flex;
    max-width: 100%;
    height: 550px;
    background-image:url(../img/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    margin-bottom: 60px;
    flex-direction: row-reverse;
    justify-content:left;
    align-items: center;
}

.container img{
    max-width: 100%;
    height: 560px;
}

.banner-box{
    width: 49%;
    padding-left: 70px;
}

.banner-box h1{
    text-align: left;
    font-size: 40px;
    color: white;
    font-weight: 700;
    margin-bottom: 45px;
    backdrop-filter: blur(2px);
    padding-top: 20px;
}

.banner-box p{
    text-align: left;
    font-weight: 400;
    font-size: 18px;
    color: #F8F1D5;
    margin-bottom: 25px;
    backdrop-filter: blur(2px);
}

.boton {
    font-weight: bold;
    font-size: 20px;
    margin: 30px 0 30px 130px;
    background: none;
    border: none;
}

.boton a{
    text-decoration: none;
    border-radius: 10px;
    border: 2px solid #9eb33e;
    background: rgba(255, 255, 255, 0.80);
    color: black;
    padding: 10px 20px 10px 20px;
}

.boton a:hover{
    color:white;
    background-color: #1B5016;
    transition: 0.5s;
    border: 2px solid #1B5016;
}    

#subtitle {
    position: relative;
    text-align: center;
    font-weight: 500;
    font-size: 27px;
    margin-top: 90px;
    margin-bottom: 80px;
}

.carousel{
    justify-content: center;
    margin: 90px;
}

.carousel-lista img{
    width: 100%;
    object-fit: cover;
    margin-right: 12px;
}

.carousel-lista{
    display: flex;
    overflow-y:auto;
}

.card-categoria img{
    height: 330px;
    width: 370px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-color: 1px #536A73;
}

.parraf-carousel {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    background-color: #536A73;
    width: 370px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 5px;
}

.parraf-carousel a{
    color: white;
}

.mas-descargados{
    padding-top: 70px;
    padding-bottom: 60px;
    margin-bottom: 70px;
    background-image: url(../img/pagina_home/fondo.jpg);
}

.secciones{
    font-size: 27px;
    font-weight: 600;
    width: 100%;
    margin-bottom:59px ;
    justify-content:center;
    text-align: center;
}

.linea1{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 33px;
    justify-content: center;
}

.card-libro{
    width: 160px;
    height: 230px;
    margin: 12px;
    background-color: white;
    border-bottom: 0.5px solid #d1d3d9;
    border-left: 0.5px solid #d1d3d9;
    border-bottom: 0.5px solid #d1d3d9;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 15px;
}

.card-header img{
    border-radius: 11px 11px 0px 0px;
    background: url(<path-to-image>), cover no-repeat;
}

.card-body{
    margin-left: 6px;
    margin-top: 10px;
}

.card-title{
    font-size: 16px;
    font-weight: bold;
}

.card-title a{
    color: black;
} 

.card-autor a{
    font-size: 14px;
    color: black;
}

.en-promocion{
    margin-bottom: 80px;
}

/* FIN PAGINA INDEX */

/* INICIO ESTILOS DEL FOOTER */

.footer{
    background-color: #F6E8D3;
    margin-top: 25px;
}

.footer-container{
    width: 100%;
    padding: 30px 30px 20px;
}

.social-icons{
    display: flex;
    justify-content: center;
}

.social-icons a{
    text-decoration: none;
    padding: 6px 10px 6px 10px;
    margin: 12px;
    border-radius: 100%;
    text-align: center;
}

.social-icons a{
    font-size: 2em;
    color:black;
    opacity: 0.9px;
}

.social-icons a:hover{
    background-color:none ;
    transition: 0.5s;
}

.social-icons a:hover i{
    color:white;
    transition: 0.5s;
}

.footer-nav{
    margin: 30px 0;
    text-align: center;
}

.footer-nav ul{
    display: flex;
    justify-content: center;
}

.footer-nav ul li a{
    color: black;
    margin-bottom: 20px;
    margin-right: 30px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    opacity: 0.7;
    transition: 0.5s;
}

.footer-nav ul li a:hover{
    color: white;
}

/* FIN ESTILOS DEL FOOTER */

/* INICIO PAGINA INICIAR SESIÓN */

#main-inicio-sesion {
    text-align: -webkit-center;
}

.title-inicio-sesion{
    font-size: 25px;
    font-weight:bold;
    padding: 60px 0 30px 0;
}

#username{
    text-align: left;
    color: #817B77;
    font-size: 17px;
    font-weight: medium;
    width: 277px;
    height: 46px;
    border-radius: 10px;
    border: 2px;
    border-style: solid;
    border-color: #9eb33e;
}

#user-password{
    text-align: left;
    color: #817B77;
    font-size: 17px;
    font-weight: medium;
    width: 277px;
    height: 46px;
    border-radius: 10px;
    border: 2px;
    border-style: solid;
    border-color: #9eb33e;
}

#form-container {
    width: 280px;
}

.link-crear-cuenta {
    text-align: right;
    padding-top: 20px;
    padding-bottom: 75px;
    font-weight: 600;
    font-size: 17px;
}

.olvidaste-la-contraseña {
    text-align: left;
    padding: 8px 0 25px 0;
    font-weight: 600;
    font-size: 17px;
}

.hero-inicio-sesion {
    background-image:url(../img/hero.jpg);
    padding-top: 10%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 5%;
}

/* FIN PAGINA INICIAR SESIÓN */

/* INICIO PAGINA CREAR CUENTA */

#main-crear-cuenta {
    text-align: -webkit-center;
}

.hero-crear-cuenta {
    background-image:url(../img/hero2.jpg);
    padding-top: 10%;
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 5%;
}

#main-container {
    background-color: #F9FAFA;
    width: 30%;
    border-radius: 20px;
}

.title-crear-cuenta{
    font-size: 25px;
    font-weight:bold;
    padding: 60px 0 20px 0;
}

.texto{
    text-align: left;
    margin-bottom: 35px;
    width: 280px;
    font-size: 12px;
}

.form-label-N{
    width: 277px;
    text-align: left;
    font-size: 17px;
    font-weight: medium;
}

.form-label{
    width: 277px;
    text-align: left;
    margin-top: 10px; 
    margin-bottom: 15px;
}

.form-input{
    width: 277px;
    height: 46px;
    border-radius: 10px;
    border: 2px;
    border-style: solid;
    background-color:white;
    border-color: #9eb33e;
}

.boton-confirm{
    width: 277px;
    height: 46px;
    border-radius: 10px;
    border: 2px;
    background-color: #1B5016;
    font-size: 20px;
    font-weight: 700;
}

.boton-confirm a{
    color: white;
}

.boton-cancelar{
    width: 277px;
    height: 46px;
    border-radius: 10px;
    border: none;
    background-color: none;
    font-size: 20px;
    margin-bottom: 50px;
    font-weight: medium;
    margin-bottom: 60px;
}    

.boton-cancelar a{
    color: black;
    text-align: center;
}

/* FIN PAGINA CREAR CUENTA */

/* INICIO PAGINA CATEGORIAS */

.indice-categorias{
    width: 100%;
    height: 60px;
    margin-bottom: 5px;
    background-color:#536A73 ;
}

.indice-categorias .titulo-categorias{
    font-size: 22px;
    font-weight: 500;
    line-height: normal;
    margin-left: 60px;
    padding: 15px;
    color: white;
}

.contenedor-galeria{
    margin-left: 100px;
    display: flex;
    align-items: center;
    margin-bottom: 100px;
}

.galeria-categorias{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.card{
    border-radius: 8px;
    border: none;
    display: flex;
    width: 285px;
    height: 200px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin-top: 30px;
    margin-right: 30px;
}   

.tipos h3{
    font-size: 17px;
    font-weight: 600;
    text-align: center;
    margin-top: 140px;
}

.tipos h3 a{
    border-radius: 10px;
    border: 2px solid #1B5016;
    background: rgba(255, 255, 255, 0.80);
    color: black;
    padding: 5px 70px 5px 70px;
}

.tipos h3 a:hover{
    color:white;
    background-color: #1B5016;
    transition: 0.5s;
}    

/* FIN PAGINA CATEGORIAS */

/* INICIO PAGINA HISTORIA */

.linea{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    align-items: center;
    margin-bottom: 80px;
    justify-content: center;
}

.card-libro-galeria{
    width:180px;
    height: 250px;
    margin: 15px;
    background-color: white;
    border: 0.5px solid #d1d3d9;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 20px;
}

.card-header-galeria img{
    border-radius: 11px 11px 0px 0px;
    border-top: 0.5px solid #D1D3D9;
    border-right: 0.5px solid #D1D3D9;
    border-left: 0.5px solid #D1D3D9;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.card-body-galeria{
    margin-top: 10px;
    text-align: left;
    margin-left: 10px;
}

.card-body-galeria h3{
    font-size: 18px;
    font-weight: bold;
}

.card-body-galeria a{
    color: black;
} 

.card-body-galeria p{
    font-size: 15px;
    color: black;
}

/* FIN PAGINA HISTORIA */

/** AJUSTES RESPONSIVE MOBILE **/

@media screen and (max-width:480px){
   
    /** PAGINA INDEX **/
    
    button, input, optgroup, select, textarea {
        margin: 0px;
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
        margin-right: 35px;
    }
    
    .container{
        flex-direction:column;
    }    

    .banner-box{
        width: 90%;
        padding-left: 0;
        padding-inline: 2rem;
        padding-top: 2rem;
    }

    .banner-box h1{
        font-size: 2rem;
    }

    .banner-box p{
        
        font-weight: 600;
    }

    .banner-box .boton{
        margin: 0 15px 0 15px;
        padding: 2rem;
    } 

    #subtitle{
        padding-left: 1rem;
        padding-right: 1rem;
        margin: 0;
    }

    .carousel{
        margin-right: 1rem;
        margin-left: 1rem;
        margin-top: 2rem;
    }
    
    .footer-nav{
        text-align:left;
    }
    
    /** PAGINA CATEGORIAS **/
    
    .indice-categorias .titulo-categorias{
        margin: 0;
        padding-left: 2rem;
    }

    /** PAGINA INICIAR SESION **/

    .hero-inicio-sesion{
        padding-top: 15%;
        padding-bottom: 10%;
        background-size: 315%;
    }

    #main-container {
        width: 80%;
    }
    
    /** PAGINA CREAR CUENTA **/
    
    .hero-crear-cuenta{
        padding-top: 15%;
        padding-bottom: 10%;
        background-size: 400%;
    }    
    
    .title-crear-cuenta{
        padding: 50px 0 20px 0;
    }
}    